.loader-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 45px;
    height: 45px;
    border: 5px solid #ddd;
    border-top: 5px solid #0065CD;
    border-radius: 50%;
    animation: spin .8s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}